body,html{
    height: 100%;
    margin:0;

}
body{
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.main_des{
  position: relative;
  animation: mymove 3s ;
}

@keyframes mymove {
    from {top: -500px;}
    to {top: 0px;}
}
canvas{
  z-index: -1000;

}


.bg,.bg2,.bgtel,.bg2tel,.predictbg,.predictbg2{
    width:100%;
    height: 100%;
    position: absolute;
}
.bgtel{
	z-index:-2;
	background-color:#0088cc;
	-webkit-clip-path: polygon(48% 0, 16% 20%, 0 47%, 0 0);
clip-path: polygon(48% 0, 16% 20%, 0 47%, 0 0);
-webkit-clip-path: polygon(100% 45%, 0% 100%, 100% 100%);
clip-path: polygon(100% 45%, 0% 100%, 100% 100%);


}
.bg2tel{
	z-index:-1;
	background-color:#FFF ;
	-webkit-clip-path: polygon(18% 0, 7% 8%, 0 31%, 0 0);
clip-path: polygon(18% 0, 7% 8%, 0 31%, 0 0);
-webkit-clip-path: polygon(100% 77%, 0% 100%, 100% 100%);
clip-path: polygon(100% 77%, 0% 100%, 100% 100%);
}
.bg{
    z-index:-1;
    background-color: #226dbc;
    -webkit-clip-path: polygon(22% 100%, 72% 76%, 100% 41%, 100% 100%);
    clip-path: polygon(22% 100%, 72% 76%, 100% 41%, 100% 100%);
}
.bg2{
    z-index: -2;
    background-color: #2a5f98;
    -webkit-clip-path: polygon(2% 100%, 69% 65%, 100% 23%, 100% 100%);
    clip-path: polygon(2% 100%, 69% 65%, 100% 23%, 100% 100%);
}
.predictbg{
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 62%);
clip-path: polygon(0 100%, 100% 100%, 100% 62%);
z-index: -1;
background-color: #FB8C00;
}
.predictbg2{
  -webkit-clip-path: polygon(62% 78%, 100% 42%, 100% 100%, 0% 100%);
clip-path: polygon(62% 78%, 100% 42%, 100% 100%, 0% 100%);
z-index: -2;
background-color: black;
}
.container{
    display: grid;
    grid-template-columns: 50% auto;
    height: auto;
    align-self: center;
    margin:0px;
}
.container{
    display: grid;
    grid-template-columns: 50% auto;
    height: auto;
    align-self: center;
    margin:40px;
}
ul{
    list-style-type: none;
    perspective: 1000px;
    position: relative;
    animation: ulist 3s ;
    margin-top: -200px;
}
@keyframes ulist {
  from {right:-900px;}
  to  {right:0px;}

}
ul li{
    display: grid;
    grid-template-columns: 20% 400px;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transform:rotateY(-30deg) rotateX(15deg) ;
    position: absolute;
    border-bottom:4px solid rgba(0,0,0,.2);
    mix-blend-mode: multiply;

}
ul li:nth-child(1){
    background:#bfe8fc;
    top:-105px;
    z-index: 2;
}
ul li:nth-child(2){
    background:#faffc8;

    z-index: 2;
}
ul li:nth-child(3){
    background:rgb(242,228,255);
    top:105px;
    z-index: 2;
}
ul li:hover{
    transform: rotateY(-22deg) rotateX(7deg) scale(1.03);
    transition: transform .4s ease-out;
    z-index: 3;
    mix-blend-mode: normal;
}
#icon{
  width:70px;

}
h1{
    font-size: 3em;
    margin-top: 0;
}
#left{

  margin-top: -200px;
  margin-left: 50px;
}
#righttel{
  margin-left: 700px;
  margin-top: 150px
}
#righttel2{
  margin-left: 700px;
  margin-top: 200px

}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif?e44397') 50% 50% no-repeat rgb(249,249,249);
}
#left>p{
    color: gray;
    line-height: 1.5em;
}
.topnav {
  overflow: hidden;
  background-color:#0088cc;
  height: 50px;
  width: 100%;



}

.topnav a {

  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: transform 1s;

}

.topnav a:hover {
  background-color:#00FFFF;
  color: black;

}

.topnav a.active {
  background-color: #2a5f98;
  color: white;
}
#lefttel{
  margin-top: -200px;
  margin-left: 100px;
  margin-right: 100px
}
.banner{
  width:400px;
  margin-top: -300px;
  animation: realbanner 1s;
}
@keyframes realbanner {
  0%  {transform: rotate(0deg);}
  25%{ transform: rotate(75deg);}
  50%{transform: rotate(-75deg);}
  100%{transform: rotate(0deg);}

}

.prediction{
  display: grid;
  grid-template-columns: 60% auto;
  height: auto;
  align-self: center;
  margin:0px;


}
#alias{
  width: 70px;
  align-self: center;
  width:70%;
  grid-area: assistant;
  align-self: right !important;
}

.file-upload {
  background-color: #ffffff;
  width: 50%;
  margin-top:-30%;
  padding: 20px;
  height: 50%;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  width: 224px !important;
  height:224px !important;
  margin: auto;

}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
.saying{
  margin-left:50%;
  margin-top: -25%;

  float: left;
  grid-area: assistant;
  width: 35%;
}
#submit{

  background-color:  #1FB264;
   border-bottom: 4px solid #006600;
   margin-right: 20px;
}
.loader {
  border: 16px solid #f3f3f3;
  visibility: hidden;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  position: absolute;
 top:0;
 bottom: 0;
 left: 0;
 right: 0;

 margin: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#quote{
  margin-top: -40px;
}
.card-img-top{
  max-width: 100px;
  margin-left: 200px;
}
